<div class="footer">
    <div class="footer_wrapper">
        <div class="left_footer">
            <h5 class="footer_h5">AI Learners</h5>
            <a href="#"><img src="static\css\images\facebook_icon.png" class="footer_icon"></a>
            <a href="#"><img src="static\css\images\twitter_icon.png" class="footer_icon"></a>
            <a href="#"><img src="static\css\images\youtube_icon.png" class="footer_icon"></a>
            <a href="#"><img src="static\css\images\instagram_icon.png" class="footer_icon"></a>
        </div>


        <div class="middle_footer middle_footer1">
            <p class="footer_p">Support</p>
            <a href="#" class="footer_link">Contact Us</a>
            <a href="#" class="footer_link">FAQ</a>
            <a href="#" class="footer_link">Lecture</a>
        </div>


        <div class="right_footer">
            <p class="footer_p">AI Learners</p>
            <a href="homepage.php" class="footer_link">About Us</a>
            <a href="homepage.php" class="footer_link">Careers</a>
            <a href="homepage.php" class="footer_link">Access</a>
        </div>
        <div class="sign_up_footer">
            <span class="footer_h4">Stay up to date on the latest from AI Learners</span>
            <input type="email" placeholder="Enter  your email" class="input_email_for_sign_up">
            <input type="button" value="Sign Up" class="sign_up_btn">
        </div>

    </div>
</div>


<div class="copyright">
    <small class="footer__copyright">© 2021 Copyright</small>
</div>

