<div class="left_body">
    <div class="left_body_wrapper">

        <h6 class="topic_header">Deep Learning Topics</h6>
        <a href="{{url_for('ai_introduction')}}" class="topic">Introduction</a>
        <a href="{{url_for('Learning_path_dl')}}" class="topic">Learning Path</a>
        <a href="{{url_for('single_neuron')}}" class="topic">A Single Neuron</a>
        <a href="{{url_for('Deep_neural_networks')}}" class="topic">Deep Neural Networks</a>
        <a href="{{url_for('Stochastic_gradient_descent')}}" class="topic">Stochastic Gradient Descent</a>
        <a href="{{url_for('overfitting_underfitting')}}" class="topic">Overfitting and Underfitting</a>
        <a href="{{url_for('Dropout')}}" class="topic">Dropout</a>
        <a href="{{url_for('batch_normalization')}}" class="topic">Batch Normalization</a>
        <a href="{{url_for('Binary_classification')}}" class="topic">Binary Classification</a>
    </div>
</div>
